.h-3 {
    font-size: 2em;
}

span {
    color: #ed0a0a;
    
}


.page-up {
   font-size: 20px;
   text-decoration: none;
   text-transform: uppercase;
   color: rgb(255, 251, 255);
}
